<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 style="text-align:center" >
    CAJA REGISTRADORA
   </h1>
<div class="container row">
   
        <div class="container col-8 lista" style="text-align:center">
       
               <listaProductos (productoSeleccionado)=" addProducto($event)" titulo="Comidas" [Productos]="arrProductosComida"></listaProductos>
              <listaProductos (productoSeleccionado)=" addProducto($event)" titulo="Bebidas" [Productos]="arrProductosBebida"></listaProductos>
         </div>
      
       <div  class="col-4 pedido"> 
          <pedido [pedido]="arrPedido"></pedido>
      </div>
</div>
</div>
